{% assign cardClasses = 'card-lock text-center' %}
{% assign cardHeader = '<img src="../../assets/img/eva.jpg" alt="...">' %}
{% assign cardTitle  = 'Joe Gardner' %}
{% assign cardCategory  = 'Artist and Music Composer' %}
{% assign cardOtherContent = '<div class="form-group">
                                <input type="password" class="form-control" placeholder="Enter Password..">
                              </div>' %}
{% assign cardFooter = '<a href="#pablo" class="btn btn-primary btn-round btn-lg">Unlock</a>' %}
{% include cards/card-basic.html %}
