---
---

{% include path/path-assets.html %}

<html>
<head>
  {% include head.html %}
</head>
  <body class="contact">

    {% include navbar.html %}

    <div class="section-first section-first-blue">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto text-center">
          <h1>CONTACT</h1>
          <h2>CONTACT</h2>
          <div class="card card-white px-5 py-5 mt-5 mb-5">
            <div class="row">
              <div class="col-sm-6 mb-5 text-left">
                <h3 class="info-text"> Lasa-ne un mesaj</h3>
                <div class="form-group">
                  <label for="firstname" class="req">NUME:</label>
                  <input type="text" name="firstname" class="form-control">
               </div>

               <div class="form-group">
                 <label for="email" class="req">adresa email:</label>
                 <input type="email" name="email" class="form-control">
               </div>

               <div class="form-group">
                  <label>Mesajul tau:</label>
                  <textarea class="form-control" rows="3"></textarea>
                </div>

                <button class="btn btn-blue btn-lg mt-0 ml-0">Trimite</button>
              </div>
              <div class="col-sm-6 text-left">
                <h3 class="info-text">Contact</h3>
                <p class="info-text-pharagraph mb-4">Pentru orice problema legata de produsele livrate va rugam sa ne contactati folosind acest formular.</p>
                <p class="info-text-pharagraph">Daca doresti sa ne recomanzi imbunatatiri/sfaturi, nu ezita sa ne contactezi!</p>
                <h3 class="info-text mt-5">Despre noi</h3>
                <p class="info-text-pharagraph">Timmy a fost creat cu un singur scop; de a transforma un accesoriu zilnic intr-un articol vestimentar care emana bucurie. In vederea atingerii acestui scop, noi ne straduim sa cream sosetele la cele mai inalte standarde prin calitate, design si creativitate.</p>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  {% include footer.html %}

    <script src="../assets/js/core/jquery.3.2.1.min.js"></script>
    	<script src="../assets/js/core/bootstrap.min.js"></script>
      <script src="../assets/js/hd.js"></script>
  </body>
</html>
